.field-group,
.form-element {
    margin-bottom: 15px;
}

h2,
body,
input,
selct,
textarea,
button,
form {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type="text"],
input[type="email"],
slect,
textarea {
    border: 1px solic #ccc;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

input[type="submit"],
button[type="submit"] {
    background-color: antiquewhite;
    color: brown;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover,
button[type="submit"]:hover {
    background-color: #45a049;
}