table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #444;
}

th.Landark,
td.Landmark {
    width: 25%;
}

th.Significance,
td.Significance {
    width: 40%;
}

th {
    background-color: darkgreen;
}

td {
    padding: 10px;
}

td {
    color: blueviolet;
}

tr:hover {
    background-color: beige;
    cursor: pointer;
}